<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/basic.css">
</head>

<body>
    <h2 class="header">这是一个 h2</h2>

    <form action="/doAdd" method="post">
        用户名：<input type="text" name="username">
        <br>
        密　码：<input type="text" name="password">
        <br>
        <input type="submit" value="提交">
    </form>

    <img src="images/a.png" alt="">
</body>

</html>
